@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Noto Serif", serif;
  background: whitesmoke;
  font-weight: 300;
  color: #222;
  font-size: 11pt;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #222;
  background-color: whitesmoke;
}

h1 {
  margin-left: 10px;
  margin-top: 6px;
  letter-spacing: -1.5px;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

a {
  text-decoration: none;
  color: #222;
}

img {
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline;
  border: 1px solid #222;
}

.images {
  height: 150px;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
}

.main {
  background-color: whitesmoke;
  border: 1px solid #222;
  margin-top: 130px;
  width: calc(80% - 32px);
  margin-left: 10%;
  padding: 10px 16px;
}
.project {
  border: 1px solid #222;
  margin-top: 50px;
  width: calc(80% - 20px);
  margin-bottom: 50px;
  background-color: whitesmoke;
  margin-left: 10%;
  min-height: 200px;
  padding: 5px 10px 10px 10px;
}
.text {
  /* margin-right: 40%; */
}

.project a {
  margin: 2px;
  display: inline-block;
}

.project svg {
  vertical-align: middle;
  margin-top: -8px;
}

.circle-green {
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  width: 150px;
  left: calc(10% - 80px);
  top: 250px;
  height: 150px;
  background-color: #60d394;
}
.circle-red {
  z-index: -1;
  position: absolute;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 150px;
  opacity: 80%;
  left: calc(90% - 100px);
  top: 550px;
  height: 150px;
  background-color: #ee6055;
}

.insta-icon {
  position: fixed;
  color: #222;
  margin-left: calc(100% - 135px);
  margin-top: -55px;
  cursor: pointer;
}
.github-icon {
  position: fixed;
  color: #222;
  margin-left: calc(100% - 90px);
  margin-top: -55px;
  cursor: pointer;
}
.linkedin-icon {
  position: fixed;
  color: #222;
  margin-left: calc(100% - 45px);
  margin-top: -55px;
  cursor: pointer;
}

p {
  margin-left: 10px;
  color: #222;
  margin-right: 10px;
}

::selection {
  background: #3695c8;
}
::-moz-selection {
  background: #3695c8;
}

.project-title {
  margin-top: 8px;
  color: #222;
  margin-left: 10px;
  margin-bottom: 2px;
  margin-right: 5px;
}